@import "../../styles.scss";

.historyTable {
    border-collapse: collapse;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.historyTable td, .historyTable th {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 17px;
    text-align: center;
}

#linkToHistoryRow {
    text-decoration: underline;
    cursor: pointer;
}

.historyTable tr:nth-child(even) {
    background-color: $secondaryColor;
}

.historyTable tr:hover {
    background-color: $accentColor1;
}

.historyTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: $accentColor2;
    color: $primaryColor;
}

.correct {
    color: $colorSuccess;
}

.incorrect {
    color: $colorDanger;
}

.unknown {
    color: $accentColor2;
}