@import "../../styles.scss";

.historyTable {
    border-collapse: collapse;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.historyTable td, .historyTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#linkToHistoryRow {
    text-decoration: underline;
    cursor: pointer;
}

.historyTable tr:nth-child(even) {
    background-color: $secondaryColor;
}

.historyTable tr:hover {
    background-color: $accentColor1;
}

.historyTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: $accentColor2;
    color: $primaryColor;
}

.noHistoryData {
    text-align: center !important;
}