<div *ngIf="!doGoHome && !doGoToHistoryDetail">
    <div>
        <button md-button class="buttonStyle goHomeButton" (click)="goHome()">Go Home</button>
    </div>

    <div *ngIf="this.historyData">
        <div *ngIf="this.historyData.length > 0">
            <table class="historyTable">
                <tr>
                    <th>Date/Time</th>
                    <th>Category</th>
                    <th>Questions Correct</th>
                    <th>Questions Attempted</th>
                    <th>Percent Correct</th>
                    <th>Time to Complete</th>
                    <th>Link to Details</th>
                </tr>
                <ng-container *ngFor="let historyPiece of this.historyData">
                    <tr>
                        <td>{{parseDate(historyPiece.date)}}</td>
                        <td>{{historyPiece.category}}</td>
                        <td>{{historyPiece.questionsCorrect}}</td>
                        <td>{{historyPiece.questionsAttempted}}</td>
                        <td>{{getPercentage(historyPiece.questionsCorrect)}}%</td>
                        <td>{{parseLengthOfTime(historyPiece.lengthOfTime)}}</td>
                        <td id="linkToHistoryRow" (click)="goToHistoryDetail(historyPiece._id)">View Details</td>
                    </tr>
                </ng-container>
            </table>
        </div>
        <div *ngIf="this.historyData.length == 0 || this.historyData == undefined" style="text-align: center;">
            <h4>
                No data found. Please click Go Home to play the game.<br>
                Your data will be saved and appear here.
            </h4>
        </div>
    </div>
</div>

<div *ngIf="doGoHome">
    <app-welcome [userData]="userData"></app-welcome>
</div>

<div *ngIf="doGoToHistoryDetail">
    <app-history-detail [historyData]="historyData" [historyRowIdSelected]="historyRowIdSelected" [userData]="userData">
    </app-history-detail>
</div>
