<div *ngIf="!goToHistory">    
    <div class="pageHeaderData"> 
        <div>
            <h2 class="welcome completedGame">
                Good job!!
            </h2>

            <button md-button class="buttonStyle logoutButton">Logout</button>
        </div>

        <div>
            <h3 class="historyLink completed" (click)="goToUserHistory()">
                See my history
            </h3>
        </div>

        <div>
            <div>
                <h3 class="description">
                    <p>You have completed your {{category}}'s.</p>
                    <p>You answered {{correct}} {{correct == 1 ? 'problem' : 'problems'}} correctly.</p>
                    <p>You answered {{incorrect}} {{incorrect == 1 ? 'problem' : 'problems'}} incorrectly.</p>
                    <p>DEBUGGING {{lengthOfTime}}</p>
                    <!-- <div *ngIf=lengthOfTime != undefined>
                        ngif length of time is not undefined
                    </div> -->
                    <p>Questions and Answers (in order): </p>
                    <div *ngFor="let question of gameplayQuestionsAnswered; let currentIndex = index">
                        <p class="questionData">{{question}}</p>
                    </div>
                </h3>
            </div>
        </div>

    </div>

</div>

<div *ngIf="goToHistory">
    <app-history></app-history>
    <!-- <app-history [userData]="getLoggedInUserData"></app-history> -->
</div>