/* You can add global styles to this file, and also import other style files */

$fontFamilyHeadings: 'Truculenta';
$fontFamilyBody: 'Maven Pro', sans-serif; 

$colorSuccess: #939b62;
$colorDanger: #ffb26b;
$colorWarning: #ffd56b;

html, body { 
    height: 100%; 
    font-family: $fontFamilyBody; 
    color: black; 
}

body { 
    margin: 0; 
    font-family: $fontFamilyBody;
}

.mat-h2, .mat-title, .mat-typography h2 {
    font-size: 45px; 
    font-weight: bold; 
    font-family: $fontFamilyHeadings;
    letter-spacing: 4px;
}

.mat-form-field-infix {
    font-family: $fontFamilyBody; 
}

.mat-dialog-actions {
    justify-content: center;
}

.buttonStyle {
    background-color: #D3E0EA; 
    border-radius: 15px; 
    padding: 15px; 
    color: black; 
    font-weight: bold; 
    font-family: $fontFamilyBody;
    font-size: 16px; 
    border: 2.5px solid #276678; 
    letter-spacing: 0.5px;
    cursor: pointer;
}

.success {
    background-color: $colorSuccess; 
}

.danger {
    background-color: $colorDanger;
}

.mat-simple-snackbar {
    color: black;
}

