.mat-grid-list {
    margin-left: 450px;
    margin-right: 450px;
}

.welcome {
    display: inline-block;
}

.logoutButton {
    float: right;
    margin-right: 100px;
}

.historyLink {
    text-align: right;
    margin-right: 100px;
    text-decoration: underline;
    cursor: pointer;
}

.addLeftPadding {
    padding-left: 100px;
}