/* You can add global styles to this file, and also import other style files */

$fontFamilyHeadings: 'Truculenta';
$fontFamilyBody: 'Maven Pro', sans-serif; 

$primaryColor: #F6F5F5;
$secondaryColor: #D3E0EA;
$accentColor1: #1687A7;
$accentColor2: #276678;

$colorSuccess: #939b62;
$colorDanger: #ffb26b;
$colorWarning: #ffd56b;

html, body { 
    height: 100%; 
    font-family: $fontFamilyBody; 
    color: black; 
}

body { 
    margin: 0; 
    font-family: $fontFamilyBody;
    background-color: $primaryColor;
}

.toolbarClass {
    height: 100px;
    background-color: $accentColor1;
}

.mat-h1, .mat-headline, .mat-typography h1 {
    font-size: 80px; 
    font-weight: bold; 
    font-family: $fontFamilyHeadings;
    letter-spacing: 4px;
    color: black;
    text-align: center;
    padding-top: 35px;
}

.mat-h2, .mat-title, .mat-typography h2 {
    font-size: 45px; 
    font-weight: bold; 
    font-family: $fontFamilyHeadings;
    letter-spacing: 4px;
}

.mat-h3, .mat-title, .mat-typography h3 {
    font-size: 25px; 
    font-weight: bold; 
    font-family: $fontFamilyHeadings;
    letter-spacing: 4px;
}

.mat-h4, .mat-title, .mat-typography h4 {
    font-size: 20px; 
    letter-spacing: 4px;
    margin: 0 0 0px !important;
    padding-left: 75px;
}

.pageHeaderData {
    padding-left: 75px;
    padding-top: 50px;
}

.mat-form-field-infix {
    font-family: $fontFamilyBody; 
}

.mat-dialog-actions {
    justify-content: center;
}

.buttonStyle {
    background-color: $primaryColor; 
    border-radius: 15px; 
    padding: 15px; 
    color: black; 
    font-weight: bold; 
    font-family: $fontFamilyBody;
    font-size: 16px; 
    border: 2.5px solid $accentColor2; 
    letter-spacing: 0.5px;
    cursor: pointer;
    width: 100px;
}

.success {
    background-color: $colorSuccess; 
}

.danger {
    background-color: $colorDanger;
}

.mat-simple-snackbar {
    color: black;
}

.description {
    padding-left: 50px;
    display: inline-block;
}

.buttonStyleLarge {
    background-color: $secondaryColor; 
    border-radius: 15px; 
    padding: 15px; 
    color: black; 
    font-weight: bold; 
    font-family: 'Maven Pro', sans-serif;
    font-size: 30px; 
    border: 2.5px solid $accentColor2; 
    letter-spacing: 0.5px;
    cursor: pointer;
    width: 125px;
}

.historyLink {
    text-align: right;
    text-decoration: underline;
    cursor: pointer;
    padding-top: 25px;
    padding-right: 75px;
}

.logoutButton {
    float: right;
    margin-right: 75px;
}

.goHomeButton {
    margin-left: 75px;
    margin-top: 50px;
    width: 150px;
}

.page-footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:40px;
    width:100%;
    background: $accentColor1;
}

.footer-data {
    text-align: center;
    width: 100%;
    font-weight: bold;
    margin-top: 10px;
}

.mat-progress-spinner circle, .mat-spinner circle, .spinner {
    stroke: $accentColor1;
    margin-left: 33%;
    margin-right: 33%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
