<div class="pageHeaderData" *ngIf="!gameplayFinished"> 
    <div>
        <h2 class="welcome">
            {{modeDisplayable}} the {{category}}'s
        </h2>
    </div>

    <div>
        <div>
            <h3 class="description">
                Question {{questionNumber}} of 12
            </h3>
        </div>
    </div>
</div>

<div *ngIf="!gameplayFinished">
    <h1>
        {{getNextDisplayQuestion()}}
        <mat-form-field class="answerClass" appearance="standard">
            <input type="number" matInput [(ngModel)]="submittedAnswer">
        </mat-form-field>
        <div>
            <div *ngIf="this.mode == 'practice' && this.isCorrect != undefined">
                <div *ngIf="this.isCorrect">
                    <span class="material-icons correct">
                        done
                    </span>
                    <h3>Correct!</h3>
                </div>
                <div *ngIf="!this.isCorrect">
                    <span class="material-icons incorrect">
                        close
                    </span>
                    <h3>Nice try. The correct answer is {{this.correctAnswer}}.</h3>
                </div>
            </div>
            <div *ngIf="this.submittedAnswer != undefined">
                <div *ngIf="this.hasSubmitted">
                    <button md-button class="buttonStyleLarge gameplay" (click)="next()">Next</button>
                </div>
                <div *ngIf="!this.hasSubmitted">
                    <button md-button class="buttonStyleLarge gameplay" (click)="submit()">Submit</button>
                </div>
            </div>
        </div>
    </h1>
</div>

<div *ngIf="gameplayFinished">
    <app-completed-gameplay [category]="category" [correct]="questionsCorrect" [incorrect]="questionsIncorrect"
        [gameplayQuestionsAnswered]="gameplayQuestionsAnswered" [timeInSecondsToComplete]="timeInSecondsToComplete">
    </app-completed-gameplay>
</div>


