@import "../../styles.scss";

.gameplay {
    width: 175px;
}

.answerClass {
    margin-top: -165px;
    margin-bottom: -60px;
}

.correct {
    font-size: 300px;
    color: $colorSuccess;
    margin-top: -50px;
}

.incorrect {
    font-size: 300px;
    color: $colorDanger;
    margin-top: -50px;
}